<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-3.0.xsd"
		xmlns:context="http://www.springframework.org/schema/context">
		
<!-- 	<context:annotation-config/>
	<context:component-scan base-package="chat" /> -->

	<!-- <bean id="channelMessageManager" class="chat.service.ChannelMessageManager" >
	 	<constructor-arg ref="channelDAO"/>
	 </bean> -->
	 
	<bean id="defaultChannel" class="chat.model.Channel"/>

	<bean id="channelDAO" class="chat.dao.ChannelDAOInMemoryImpl">
		<constructor-arg ref="defaultChannel"/>
	</bean>
		 
	<bean id="channelUserManager" class="chat.service.ChannelUserManager" >
		<constructor-arg ref="channelDAO"/>
	</bean>
	
	<bean id="channelMessageManager" class="chat.service.ChannelMessageManager">
		<constructor-arg ref="channelDAO"/>
	</bean>

	<bean id="userConnectionManager" class="chat.service.UserConnectionManager" />
	 
	<bean id="messengerService" class="chat.service.SnapshotMessengerServiceRefactored">
		<constructor-arg ref="userConnectionManager"/>
		<constructor-arg ref="channelMessageManager"/>
	</bean>
	
	<bean id="clientActionRequestHandler" class="chat.servlet.service.ClientActionRequestHandlerImpl">
		<constructor-arg ref="channelUserManager"/>
		<constructor-arg ref="messengerService" />
	</bean>
	
	<bean id="connectionLifecycleHandler" class="chat.servlet.service.ConnectionLifecycleHandlerImpl">
		<constructor-arg ref="channelUserManager"/>
		<constructor-arg ref="userConnectionManager"/>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/test"/>
		<property name="username" value="root"/>
		<property name="password" value="meanT1meMk"/>
		<property name="initialSize" value="2"/>
		<property name="maxActive" value="5"/>
	</bean>
		 
		 <!--  test -->
	<!--  <bean id="channelAdminManager" class="chat.service.ChannelAdminManager" >
	 	<constructor-arg ref="channelDAO"/>
	 </bean> -->

</beans>